:root {
  --blue: #1A73E8;
  --lightblue: #F5F9FE;
}

#root {
  margin-top: 0;
  padding: 0;
}

.topnav {
  top: 0;
  width: 100%;
  background-color: var(--blue);
  margin: 0;
  padding: .6em;
  text-align: right;
}

#language-container {
  color: white;
  justify-content: space-between;
  line-height: 1.5em;
}

.language-link {
  color: white;
  font-weight: 600;
  padding-right: 10px;
}

.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding-right: 15%;
  padding-left: 15%;
  margin: 0 auto;
}

.separator {
  border: 1px solid black;
  margin: 0 auto;
}

div {
  color: #6C757D;
}

h1, h2, h3 {
  color: black;
  font-family: 'Quicksand', sans-serif;
}

.header-link {
  padding: 0px 5px 0px 5px;
}

.header-link-current {
  color: var(--blue);
}

.normal .link {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: black;
}

.link {
  color: var(--blue);
}

.link-no-decoration, .link-no-decoration:active, .link-no-decoration:link, .link-no-decoration:visited {
  text-decoration: none;
}

.link-no-decoration:hover {
  text-decoration: underline;
}

.call-to-action-link, .call-to-action-link:hover, .call-to-action-link:active, .call-to-action-link:link, .call-to-action-link:visited {
  color: white;
}

.row {
  display: flex;
  flex: 1;
  margin: 0 auto;
  max-width: 700px;

}

.column {
  flex: 50%;
  margin-right: 20px;
}

.category-button {
  font-size: 17px;
  height: 50%;
  padding: 5% 10% 5% 5%;
  background-color: #EEEEEE;
  border: 0px solid transparent;
  margin: 5% auto;
  width: 90%;
  color: black;
  display: flex;
  flex: 1;
  justify-content: space-between;
  text-align: left;

}

.category-button:hover {
  cursor: pointer;
  background-color: #F0F0F0;

}

.category-button::after {
  content: ">";
}

.button {
  font-size: 17px;
  text-align: left;
  padding: 10px;
  background-color: var(--blue);
  border: 0 solid transparent;
  margin: 5px;
  color: white;
  display:  inline-block;
  border-radius: 6px 6px 6px 6px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.button:hover {
  cursor: pointer;
}

.icon {
  transform-origin: left top;
  transform: scale(.3);
  display: inline;
}



.section {
  background-color: var(--lightblue);
  padding: 20px 0;
  width: 100vw;
  margin: 20px 0 20px calc(50% - 50vw);

}


.info-box {
  background-color: var(--lightblue);
  width: 50%;
  margin: 10px auto;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
